<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ handler.settings["title"] }}</title>
    <link rel="stylesheet" href="/static/main.css" type="text/css">
    <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ handler.settings["title"] }}">
    {% block head %}{% end %}
  </head>
  <body>
    <div id="body">
      <div id="header">

        <h1><a href="/">{{ handler.settings["title"] }}</a></h1><a href="/admin">admin</a>
      </div>
      <div id="content">{% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html>
