<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ handler.settings["title"] }}</title>
    <link rel="stylesheet" href="/static/main.css" type="text/css">
      <link rel="stylesheet" href="/static/list.css" type="text/css">
      <link rel="stylesheet" href="/static/admin.css" type="text/css">
      <script src="/static/list.js" type="text/javascript"></script>
    <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ handler.settings["title"] }}">
    {% block head %}{% end %}

  </head>
  <body>
    <div id="body">
      <div id="header">

        <a class="nav" href="/">Home</a><a class="nav" href="/admin">admin</a>
      </div>
      <div id="content">{% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html>
