{% extends "base.html" %}

{% block body %}
<div id="inputs">
    <form action="/">

    <input id="url-input" name="q" type="url" placeholder="http://wikipedia.org/wiki/dog"> <button id="url-submit" type="submit">Submit</button>

</form>

</div>

<div id="cloud">
    {% for word in top100 %}

        <span style="font-size: {{ 1.20 + (8.0 * word[1]/max_freq) }}vw">{{ word[0] }} </span>

    {% end %}

    <span class="info error">{{ error }}</span>
    <span class="info instruction">{{ instruction }}</span>
</div>


<br>


{% end %}

